---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

img.alignleft{float:left} 
img.alignright{float:right} 
img.aligncenter{display:block;margin:0 auto}