---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: "Gidole-Regular";
        src: url( '../_assets/fonts/Gidole-Regular.ttf') format( 'truetype');
}

.photo2 {
    width: 110px; height: 110px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}